margin-top: 2px;text-align: left;word-break: break-all;text-overflow: ellipsis;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;word-break:normal;word-wrap:break-word
